<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>physical_device_descriptor_indexing_features_ext</Title>
      <Shortcut>VkPhysicalDeviceDescriptorIndexingFeaturesEXT</Shortcut>
      <Description>Code snippet for Vulkan type VkPhysicalDeviceDescriptorIndexingFeaturesEXT</Description>
      <Author>Christian Maaser</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>next</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::pNext.</ToolTip>
          <Default>nullptr</Default>
        </Literal>
        <Literal>
          <ID>shader_input_attachment_array_dynamic_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderInputAttachmentArrayDynamicIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_uniform_texel_buffer_array_dynamic_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderUniformTexelBufferArrayDynamicIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_storage_texel_buffer_array_dynamic_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderStorageTexelBufferArrayDynamicIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_uniform_buffer_array_non_uniform_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderUniformBufferArrayNonUniformIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_sampled_image_array_non_uniform_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderSampledImageArrayNonUniformIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_storage_buffer_array_non_uniform_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderStorageBufferArrayNonUniformIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_storage_image_array_non_uniform_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderStorageImageArrayNonUniformIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_input_attachment_array_non_uniform_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderInputAttachmentArrayNonUniformIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_uniform_texel_buffer_array_non_uniform_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderUniformTexelBufferArrayNonUniformIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_storage_texel_buffer_array_non_uniform_indexing</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::shaderStorageTexelBufferArrayNonUniformIndexing.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_uniform_buffer_update_after_bind</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingUniformBufferUpdateAfterBind.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_sampled_image_update_after_bind</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingSampledImageUpdateAfterBind.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_storage_image_update_after_bind</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingStorageImageUpdateAfterBind.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_storage_buffer_update_after_bind</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingStorageBufferUpdateAfterBind.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_uniform_texel_buffer_update_after_bind</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingUniformTexelBufferUpdateAfterBind.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_storage_texel_buffer_update_after_bind</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingStorageTexelBufferUpdateAfterBind.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_update_unused_while_pending</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingUpdateUnusedWhilePending.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_partially_bound</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingPartiallyBound.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>descriptor_binding_variable_descriptor_count</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::descriptorBindingVariableDescriptorCount.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>runtime_descriptor_array</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingFeaturesEXT::runtimeDescriptorArray.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
      </Declarations>
      <Code Language="cpp"><![CDATA[vk::physical_device_descriptor_indexing_features_ext(
  /* next */ $next$,
  /* shader_input_attachment_array_dynamic_indexing */ $shader_input_attachment_array_dynamic_indexing$,
  /* shader_uniform_texel_buffer_array_dynamic_indexing */ $shader_uniform_texel_buffer_array_dynamic_indexing$,
  /* shader_storage_texel_buffer_array_dynamic_indexing */ $shader_storage_texel_buffer_array_dynamic_indexing$,
  /* shader_uniform_buffer_array_non_uniform_indexing */ $shader_uniform_buffer_array_non_uniform_indexing$,
  /* shader_sampled_image_array_non_uniform_indexing */ $shader_sampled_image_array_non_uniform_indexing$,
  /* shader_storage_buffer_array_non_uniform_indexing */ $shader_storage_buffer_array_non_uniform_indexing$,
  /* shader_storage_image_array_non_uniform_indexing */ $shader_storage_image_array_non_uniform_indexing$,
  /* shader_input_attachment_array_non_uniform_indexing */ $shader_input_attachment_array_non_uniform_indexing$,
  /* shader_uniform_texel_buffer_array_non_uniform_indexing */ $shader_uniform_texel_buffer_array_non_uniform_indexing$,
  /* shader_storage_texel_buffer_array_non_uniform_indexing */ $shader_storage_texel_buffer_array_non_uniform_indexing$,
  /* descriptor_binding_uniform_buffer_update_after_bind */ $descriptor_binding_uniform_buffer_update_after_bind$,
  /* descriptor_binding_sampled_image_update_after_bind */ $descriptor_binding_sampled_image_update_after_bind$,
  /* descriptor_binding_storage_image_update_after_bind */ $descriptor_binding_storage_image_update_after_bind$,
  /* descriptor_binding_storage_buffer_update_after_bind */ $descriptor_binding_storage_buffer_update_after_bind$,
  /* descriptor_binding_uniform_texel_buffer_update_after_bind */ $descriptor_binding_uniform_texel_buffer_update_after_bind$,
  /* descriptor_binding_storage_texel_buffer_update_after_bind */ $descriptor_binding_storage_texel_buffer_update_after_bind$,
  /* descriptor_binding_update_unused_while_pending */ $descriptor_binding_update_unused_while_pending$,
  /* descriptor_binding_partially_bound */ $descriptor_binding_partially_bound$,
  /* descriptor_binding_variable_descriptor_count */ $descriptor_binding_variable_descriptor_count$,
  /* runtime_descriptor_array */ $runtime_descriptor_array$)$end$]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
