<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>physical_device_descriptor_indexing_properties_ext</Title>
      <Shortcut>VkPhysicalDeviceDescriptorIndexingPropertiesEXT</Shortcut>
      <Description>Code snippet for Vulkan type VkPhysicalDeviceDescriptorIndexingPropertiesEXT</Description>
      <Author>Christian Maaser</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>next</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::pNext.</ToolTip>
          <Default>nullptr</Default>
        </Literal>
        <Literal>
          <ID>max_update_after_bind_descriptors_in_all_pools</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxUpdateAfterBindDescriptorsInAllPools.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>shader_uniform_buffer_array_non_uniform_indexing_native</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::shaderUniformBufferArrayNonUniformIndexingNative.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_sampled_image_array_non_uniform_indexing_native</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::shaderSampledImageArrayNonUniformIndexingNative.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_storage_buffer_array_non_uniform_indexing_native</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::shaderStorageBufferArrayNonUniformIndexingNative.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_storage_image_array_non_uniform_indexing_native</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::shaderStorageImageArrayNonUniformIndexingNative.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>shader_input_attachment_array_non_uniform_indexing_native</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::shaderInputAttachmentArrayNonUniformIndexingNative.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>robust_buffer_access_update_after_bind</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::robustBufferAccessUpdateAfterBind.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>quad_divergent_implicit_lod</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::quadDivergentImplicitLod.</ToolTip>
          <Default>VK_FALSE</Default>
        </Literal>
        <Literal>
          <ID>max_per_stage_descriptor_update_after_bind_samplers</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxPerStageDescriptorUpdateAfterBindSamplers.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_per_stage_descriptor_update_after_bind_uniform_buffers</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxPerStageDescriptorUpdateAfterBindUniformBuffers.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_per_stage_descriptor_update_after_bind_storage_buffers</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxPerStageDescriptorUpdateAfterBindStorageBuffers.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_per_stage_descriptor_update_after_bind_sampled_images</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxPerStageDescriptorUpdateAfterBindSampledImages.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_per_stage_descriptor_update_after_bind_storage_images</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxPerStageDescriptorUpdateAfterBindStorageImages.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_per_stage_descriptor_update_after_bind_input_attachments</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxPerStageDescriptorUpdateAfterBindInputAttachments.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_per_stage_update_after_bind_resources</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxPerStageUpdateAfterBindResources.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_descriptor_set_update_after_bind_samplers</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxDescriptorSetUpdateAfterBindSamplers.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_descriptor_set_update_after_bind_uniform_buffers</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxDescriptorSetUpdateAfterBindUniformBuffers.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_descriptor_set_update_after_bind_uniform_buffers_dynamic</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxDescriptorSetUpdateAfterBindUniformBuffersDynamic.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_descriptor_set_update_after_bind_storage_buffers</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxDescriptorSetUpdateAfterBindStorageBuffers.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_descriptor_set_update_after_bind_storage_buffers_dynamic</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxDescriptorSetUpdateAfterBindStorageBuffersDynamic.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_descriptor_set_update_after_bind_sampled_images</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxDescriptorSetUpdateAfterBindSampledImages.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_descriptor_set_update_after_bind_storage_images</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxDescriptorSetUpdateAfterBindStorageImages.</ToolTip>
          <Default>0</Default>
        </Literal>
        <Literal>
          <ID>max_descriptor_set_update_after_bind_input_attachments</ID>
          <ToolTip>Equivalent to Vulkan member VkPhysicalDeviceDescriptorIndexingPropertiesEXT::maxDescriptorSetUpdateAfterBindInputAttachments.</ToolTip>
          <Default>0</Default>
        </Literal>
      </Declarations>
      <Code Language="cpp"><![CDATA[vk::physical_device_descriptor_indexing_properties_ext(
  /* next */ $next$,
  /* max_update_after_bind_descriptors_in_all_pools */ $max_update_after_bind_descriptors_in_all_pools$,
  /* shader_uniform_buffer_array_non_uniform_indexing_native */ $shader_uniform_buffer_array_non_uniform_indexing_native$,
  /* shader_sampled_image_array_non_uniform_indexing_native */ $shader_sampled_image_array_non_uniform_indexing_native$,
  /* shader_storage_buffer_array_non_uniform_indexing_native */ $shader_storage_buffer_array_non_uniform_indexing_native$,
  /* shader_storage_image_array_non_uniform_indexing_native */ $shader_storage_image_array_non_uniform_indexing_native$,
  /* shader_input_attachment_array_non_uniform_indexing_native */ $shader_input_attachment_array_non_uniform_indexing_native$,
  /* robust_buffer_access_update_after_bind */ $robust_buffer_access_update_after_bind$,
  /* quad_divergent_implicit_lod */ $quad_divergent_implicit_lod$,
  /* max_per_stage_descriptor_update_after_bind_samplers */ $max_per_stage_descriptor_update_after_bind_samplers$,
  /* max_per_stage_descriptor_update_after_bind_uniform_buffers */ $max_per_stage_descriptor_update_after_bind_uniform_buffers$,
  /* max_per_stage_descriptor_update_after_bind_storage_buffers */ $max_per_stage_descriptor_update_after_bind_storage_buffers$,
  /* max_per_stage_descriptor_update_after_bind_sampled_images */ $max_per_stage_descriptor_update_after_bind_sampled_images$,
  /* max_per_stage_descriptor_update_after_bind_storage_images */ $max_per_stage_descriptor_update_after_bind_storage_images$,
  /* max_per_stage_descriptor_update_after_bind_input_attachments */ $max_per_stage_descriptor_update_after_bind_input_attachments$,
  /* max_per_stage_update_after_bind_resources */ $max_per_stage_update_after_bind_resources$,
  /* max_descriptor_set_update_after_bind_samplers */ $max_descriptor_set_update_after_bind_samplers$,
  /* max_descriptor_set_update_after_bind_uniform_buffers */ $max_descriptor_set_update_after_bind_uniform_buffers$,
  /* max_descriptor_set_update_after_bind_uniform_buffers_dynamic */ $max_descriptor_set_update_after_bind_uniform_buffers_dynamic$,
  /* max_descriptor_set_update_after_bind_storage_buffers */ $max_descriptor_set_update_after_bind_storage_buffers$,
  /* max_descriptor_set_update_after_bind_storage_buffers_dynamic */ $max_descriptor_set_update_after_bind_storage_buffers_dynamic$,
  /* max_descriptor_set_update_after_bind_sampled_images */ $max_descriptor_set_update_after_bind_sampled_images$,
  /* max_descriptor_set_update_after_bind_storage_images */ $max_descriptor_set_update_after_bind_storage_images$,
  /* max_descriptor_set_update_after_bind_input_attachments */ $max_descriptor_set_update_after_bind_input_attachments$)$end$]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
